@media screen and (min-width: 1485px) {
  .a {
    text-align: center;
    border-left-width: 1px;
  }

  nav li a {
    margin-top: 15px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .start-img {
    height: 339px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 339px;
  }
}

@media screen and (min-width: 1375px) and (max-width: 1484px) {
  nav li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
  }

  nav li a {
    margin-top: 15px;
    height: 30px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .start-img {
    height: 339px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 339px;
  }
}

@media screen and (min-width: 1265px) and (max-width: 1374px) {
  nav li a {
    margin-top: 15px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .start-img {
    height: 339px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 339px;
  }
}

@media screen and (min-width: 1155px) and (max-width: 1264px) {
  nav li a {
    margin-top: 15px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .start-img {
    height: 345px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 345px;
  }
}

@media screen and (min-width: 873px) and (max-width: 1154px) {
  nav li a {
    margin-top: 15px;
    height: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .soic {
    border-right: none;
    border-left: none;
    padding-right: 15px;
  }

  .culture-text {
    font-size: 20px;
  }

  .cult-text {
    font-size: 18px;
  }

  .start-img {
    height: 355px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 355px;
  }
}

@media screen and (max-width: 893px) {
  
  .soic {
    border-right: none;
    border-left: none;
    padding-right: 15px;
  }

  .culture-text {
    font-size: 20px;
  }

  .cult-text {
    font-size: 18px;
  }
}

@media (min-width: 576px){
.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: 0;
    margin-left: -15px;
}
}

@media screen and (min-width: 391px) and (max-width: 991px) {
  .start-img { 
    height: 255px;
    background-image: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  .pk {
    height: 255px;
  }
}